[submodule "Engine/Memory"]
	path = Engine/Memory
	url = https://github.com/BluFedora/BF-Memory.git
[submodule "Engine/Job"]
	path = Engine/Job
	url = https://github.com/BluFedora/BF-Job-System.git
[submodule "Engine/Platform"]
	path = Engine/Platform
	url = https://github.com/BluFedora/BF-Platform
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/BluFedora/imgui
	branch = sr-imgui
[submodule "ThirdParty/SPIRV-Cross"]
	path = ThirdParty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "ThirdParty/SPIRV-Reflect"]
	path = ThirdParty/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
